.navbar {
  width: 100%;
  height: 70px;
  background-color: var(--white); 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-logo {
  width: 40px;
  height: 40px;
}

.navbar-title {
  color: var(--black); 
  font-size: 1.4rem;
  font-weight: 600;
  font-family: var(--font-title);
  letter-spacing: 1px;
}

.navbar-right {
  display: flex;
  gap: 25px;
}

.navbar-right a {
  color: var(--black);
  font-family: var(--font-body);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
}

.navbar-right a:hover {
  color: var(--green); 
}
